In [1]:
import pandas as pd

# Indexing

## pd.Dataframe - single index

In [18]:
max = 10000000
l = list(range(max))
df = pd.DataFrame({'i': l, 'some_value': [element + 1 for element in l]})

In [3]:
df.head()

   i  some_value
0  0           1
1  1           2
2  2           3
3  3           4
4  4           5

**Dataframe query without index** requires evaluation of condition for each element, ie complexity = O(n)

In [19]:
%%time
df[df['i'] == 50000]

Wall time: 39.3 ms

           i  some_value
50000  50000       50001

Set index need time too

In [20]:
%%time
df_idx = df.set_index('i')

Wall time: 93.7 ms

In [6]:
df_idx.head()

   some_value
i
0           1
1           2
2           3
3           4
4           5

**Dataframe query with index** can be queryed a lot faster due to the index (better search alogirthm like binary search, ie. O(log2(n)))

In [29]:
%%time
df_idx.loc[50000]

Wall time: 996 Âµs

some_value    50001
Name: 50000, dtype: int64

If you know the number index, using **.iloc[]** is also a good/fast way

In [30]:
%%time
df_idx.iloc[50000]

Wall time: 0 ns

some_value    50001
Name: 50000, dtype: int64

In [9]:
df_idx.reset_index().head()

   i  some_value
0  0           1
1  1           2
2  2           3
3  3           4
4  4           5

## pd.Dataframe - composite index

In [10]:
df2 = pd.DataFrame({'i': [round(e/10) for e in l], 'i2': l, 'some_value': [element + 1 for element in l]})

In [11]:
df2.head()

   i  i2  some_value
0  0   0           1
1  0   1           2
2  0   2           3
3  0   3           4
4  0   4           5

**Querying with multiple columns without index** will requires even more time due to evaluation of both condition for each elements

In [31]:
%%time
df2[(df2['i'] == 1000) & (df2['i2'] == 10000)]

Wall time: 51.8 ms

          i     i2  some_value
10000  1000  10000       10001

In [33]:
%%time
df2_idx = df2.set_index(['i', 'i2'])

Wall time: 2.25 s

But **Querying with multiple columns with index** preserves the performance when the number of element (n) is the same.

In [37]:
%%time
df2_idx.loc[(1000, 10000)]

Wall time: 0 ns

some_value    10001
Name: (1000, 10000), dtype: int64

## built-in dict

In [15]:
d = {}
for element in l:
    d[element] = {'some_value': element + 1}

If **dict** is enough for the task, querying dict by key would be even faster, with complexity = O(1)

In [38]:
%%time
d[50000]

Wall time: 0 ns

{'some_value': 50001}